.cache/
.coverage
.storybook-out/
.DS_Store
*.egg-info
*.pyc
*.log
*.egg
*.db
*.pid
MANIFEST
test.conf
pip-log.txt
celerybeat-schedule
sentry-package.json
/.artifacts
/coverage/
/cover
/build
/dist
/env*
/tmp
/node_modules/
/docs-ui/node_modules/
example/db.sqlite
/src/*/assets.json
/src/*/static/version
/src/*/static/*/dist/
/src/*/static/*/vendor/
/src/*/static/*/admin/
/src/*/static/*/debug_toolbar/
/src/*/static/*/rest_framework/
/src/*/integration-docs
/src/*/loader/_registry.json
/wheelhouse
/test_cli/
Gemfile.lock
.idea/
*.iml
.pytest_cache/
.vscode/tags
coverage.xml
junit.xml
*.codestyle.xml
package-lock.json
dump.rdb
.lasterrors
.ipynb_checkpoints/
